.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: auto;
    /* border-radius: 2px; */
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height:1; 
}

ol,ul { 
    list-style:none;
}

ins { 
    text-decoration:none;
}

del { 
    text-decoration:line-through;
}

body {
	background: #E4E4E4 url("to_be_def");
	color: #292929;
	color: rgba(0, 0, 0, 0.82);
	font: normal 100% Cambria, Georgia, serif;
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-size-adjust: none;
}
a {
	color: #890101;
	text-decoration: none;
	-moz-transition: 0.2s color linear;
	-webkit-transition: 0.2s color linear;
	transition: 0.2s color linear;
}
a:hover {
	color: #DF3030;
}

#page {
	background: url("to-be-def") repeat-x;
	padding: 2em 0;
}
.inner {
	margin: 0 auto;
	width: 93.75%;		/* 960px / 1024px */
}
img {
	max-width: 100%;
}
.amp {
	font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
	font-style: italic;
	font-weight: normal;
}

h1 {
	/*background: url("site/logo-bg.png") no-repeat 50% 0;*/
}
h1 a {
	padding-top: 117px;
	height: 162px;
	display: block;
	text-align: center;
}
.title,
.description,
.footer {
	float: right;
	width: 65.9375%;	/* 633px / 960px */
}

.title {
	margin-top: 117px;
}

.title div {
	line-height: 1.4;
}

li.first a {
	border-top: 1px solid #FFF9EF;
	padding-top: 1.25em;
}

.intro h2 {
	font: normal 2em "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	text-align: center;
	margin-bottom: 0.25em;
}
.main h2 {
	background: url("to-be-def") no-repeat 0 50%;
	font-size: 1.4em;
	text-transform: lowercase;
	text-align: center;
	margin: 0.75em 0 1em;
}
.main h2 b {
	background: url("to-be-def");
	font-weight: normal;
	padding: 0 1em;
}
.figure {
	float: left;
	font-size: 10px;
	line-height: 1.1;
	margin: 0 3.317535545023696682% 1.5em 0;			/* 21px / 633px */
	text-align: center;
	width: 31.121642969984202211%;				/* 197px / 633px */
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.figure b {
	display: block;
	font-size: 14px;
	font-family: "Book Antiqua", "Palatino Linotype", Georgia, serif;
	letter-spacing: 0.1em;
}
.figure img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
	display: block;
	margin: 0 auto 1em;
}

li#3rd-photo,
li#6th-photo {
	margin-right: 0;
}

.footer {
	font-size: 12px;
	text-align: center;
	padding: 40px 0 20px;
}

.footer p {
	margin-bottom: 0.5em;
}

@media (max-width: 600px) {
	/* 633px grid (88x6 col, 21x5 gut; 88+21+88+21+88+21+88+21+88+21+88) */
	.inner {
		position: relative;
	}
	.title,
	.description,
    .collapsible,
	.footer {
		float: none;
		width: auto;
	}
}